body {
    width: 100%;
}

.content > div {
    width: 24rem;
    margin: auto;
}

input[type="email"] {
    margin-top: 2rem;
}

.content > div > h1, h2 {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.form_reg {
    background-color: #e8d6ae;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 2px #c7a14b;
}

input[type="text"], input[type="email"] {
    width: 100%;
}

textarea {
    width: 100%;
}

form > * {
    margin-top: 0.5rem;
}